h1,
p {
  font-family: Lato;
}
.container {
  display: flex;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 300px;
  background-color: aqua;
  align-items: center;
  justify-content: center;
}
